# Exact runtime pins; packaged into the Lambda zip. SPDX-License-Identifier: MIT-0
aws-lambda-powertools==3.31.1
boto3==1.43.58
pydantic==2.13.4
annotated-types==0.8.0
botocore==1.43.58
jmespath==1.1.0
pydantic-core==2.47.0
python-dateutil==2.9.0.post0
s3transfer==0.19.2
six==1.17.0
typing-extensions==4.16.0
typing-inspection==0.4.2
urllib3==2.7.0
