# Exact runtime pins; packaged into the Lambda zip. SPDX-License-Identifier: MIT-0
aws-lambda-powertools==3.18.0
boto3==1.39.9
pydantic==2.11.7
annotated-types==0.7.0
botocore==1.39.9
jmespath==1.1.0
pydantic-core==2.33.2
python-dateutil==2.9.0.post0
s3transfer==0.13.1
six==1.17.0
typing-extensions==4.16.0
typing-inspection==0.4.2
urllib3==2.7.0
